body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid {
    width: 80vw;
    height: 70vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-self: center;
}
.celda {
    width: 150px;
    height: 150px;
    gap: 10px;
    margin-top: 10px;
    background-color: red;
    border: 2px solid black;
}

#botonInicio {
    height: 40px;
    width: 70px;

}

.mole {
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/mole-1496790-1266488.png');
    background-repeat: no-repeat;
    background-size: cover;
}